@font-face {
  font-family: "Jet";
  src: url(../Fonts/JetBrainsMono-Bold.ttf);
}

:root {
  --darker: rgb(26, 28, 34);
  --dark: #191d22;
  --medium: #202429;
  --light: #282e35;
  --primary: #007d82;
  --secondary: #e09f1f;
}

body {
  background-color: black;
  font-family: Jet;
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: 1fr 2fr;
  height: auto;
  margin: 0px;
  color: white;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.logo {
  height: 70px;
  width: 70px;
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
  filter: drop-shadow(2px 2px 5px #666666);
}

.left-column {
  grid-column: 1;
  grid-row: 1 / span 2;
  background-color: var(--medium);
  border-right: var(--light) 5px solid;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  min-height: 100vh;
}

.right-column-top {
  grid-column: 2;
  grid-row: 1;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.right-column-bottom {
  grid-column: 2;
  grid-row: 2;
  background-color: var(--dark);
  border-top: var(--light) 5px solid;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.left-title-container {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 85%;
  overflow: hidden;
}

.right-title-container {
  margin-top: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.left-sub-container {
  text-align: left;
  width: 80%;
  padding: 25px;
  padding-left: 10px;
  padding-right: 35px;
  line-height: 2.5;
  background-color: var(--darker);
  font-size: 1.1em;
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.3);
  border-radius: 1.5%;
}

.right-sub-container {
  text-align: center;
  overflow: hidden;
  width: 800px;
  padding: 25px;
  line-height: 2.5;
  background-color: var(--light);
  font-size: 1.1em;
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.3);
  border-radius: 1.5%;
  display: flex;
  justify-content: center;
}

.SubTitle {
  font-size: 2em;
  margin-bottom: 2.5%;
  color: var(--secondary);
}

.PrimaryTitle {
  font-size: 4em;
  color: white;
}

.SecondaryTitle {
  color: var(--primary);
  font-size: 2.2em;
  margin-bottom: 10%;
}

.text-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--darker) 5px solid;
  padding-left: 80px;
  padding-right: 80px;
}

.Git-Text {
  margin-right: 30px;
  font-size: 2em;
}

.link {
  color: var(--primary);
  font-size: 1.2em;
  text-decoration: underline;
  margin-top: 5px;
  transition: 0.5s ease;
}

.box {
  color: white;
  background-color: var(--primary);
  border-radius: 5px;
}
nav {
  position: absolute;
  top: 0;
  width: 35%;
  height: 75px;
  background-color: var(--darker);
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  border-bottom: var(--light) 5px solid;
  border-right: var(--light) 5px solid;
  border-left: var(--light) 5px solid;
}

.nav-button {
  cursor: pointer;
  background-color: var(--darker);
  color: var(--primary);
  font-size: 1.5rem;
  border: 2px solid var(--primary);
  width: 400px;
  transition: 0.5s ease;
  text-decoration: none !important;
}

.no-link {
  text-decoration: none;
  color: inherit;
}

.nav-button:hover {
  animation: button-change 0.5s ease-out forwards;
}

.link:hover {
  animation: link 0.1s ease-out forwards;
}

.game {
  border: var(--primary) 3px dashed;
  font-size: 1.5rem;
  color: var(--primary);
  text-decoration: none;
  padding: 5px 75px;
  margin-bottom: 5px;
  transition: 0.3s ease;
}

.game:hover {
  animation: game 0.3 linear forwards;
}

@keyframes game {
  100% {
    background-color: var(--primary);
  }
}

@keyframes link {
  0% {
    color: var(--primary);
  }
  100% {
    color: white;
    background-color: var(--primary);
    transition: 0.5s ease;
  }
}
@keyframes button-change {
  0% {
    color: var(--primary);
    background-color: var(--darker);
    transition: 0.5s ease;
  }
  100% {
    color: white;
    background-color: var(--primary);
    transition: 0.5s ease;
  }
}
